[CMS21GameplayPlus]
# CMS21 Gameplay+ feature switches.

[CMS21GameplayPlus.Settings]
bypassPartRepairMinigame = false
bypassWheelBalanceMinigame = false
bypassWheelAlignmentMinigame = false
bypassHeadlampAlignmentMinigame = false
bypassAuctionMinigame = false
bypassCarburetorTuningMinigame = false
bypassEcuTuningMinigame = false
modifyRepairGroups = true
allowBrakeLatheFixDrumBrake = true
allowBrakeLatheFixGears = true
allowBrakeLatheFixFlywheel = true
allowBrakeLatheFixPulleys = true
junkyardVehicleMaximumCars = false
expandedAuctionCarPool = false
rememberGarageDoorState = true
includeWarehousePartsInMountSelection = true
includeWarehousePartsInWheelStations = true
includeWarehousePartsInSpringClamp = true
allowPartsTravelWhenVehicleStorageIsFull = true
relocateEngineHoistNearStand = false
